[MAIN]
load-plugins=
    pylint.extensions.broad_try_clause,
    pylint.extensions.code_style,
    pylint.extensions.emptystring,
    pylint.extensions.comparetozero,
    pylint.extensions.comparison_placement,
    pylint.extensions.confusing_elif,
    pylint.extensions.for_any_all,
    pylint.extensions.consider_ternary_expression,
    pylint.extensions.bad_builtin,
    pylint.extensions.mccabe,
;    pylint.extensions.dict_init_mutate,
    pylint.extensions.docstyle,
;    pylint.extensions.dunder,
    pylint.extensions.check_elif,
    pylint.extensions.empty_comment,
    pylint.extensions.eq_without_hash,
    pylint.extensions.private_import,
;    pylint.extensions.magic_value,
    pylint.extensions.redefined_variable_type,
    pylint.extensions.no_self_use,
    pylint.extensions.overlapping_exceptions,
    pylint.extensions.docparams,
    pylint.extensions.redefined_loop_name,
    pylint.extensions.set_membership,
    pylint.extensions.typing,
    pylint.extensions.while_used,

[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifiers separated by comma (,) or put this
# option multiple times (only on the command line, not in the configuration
# file where it should appear only once).You can also use "--disable=all" to
# disable everything first and then re-enable specific checks. For example, if
# you want to run only the similarities checker, you can use "--disable=all
# --enable=similarities". If you want to run only the classes checker, but have
# no Warning level messages displayed, use"--disable=all --enable=classes
# --disable=W"

# See below for a list of codes

disable=
    E1101,  # no-member

    W0141,  # bad-builtin
    W0149,  # while-used
    W0160,  # consider-ternary-expression
    W0201,  # attribute-defined-outside-init
    W0212,  # protected-access
    W0511,  # fixme
    W0601,  # global-variable-undefined
    W0602,  # global-variable-not-assigned
    W0603,  # global-statement
    W0612,  # unused-variable
    W0621,  # redefined-outer-name
    W0631,  # undefined-loop-variable
    W0703,  # broad-except
    W0717,  # too-many-try-statements
    W1202,  # logging-format-interpolation
    W1203,  # logging-fstring-interpolation
    W1404,  # implicit-str-concat
    W2901,  # redefined-loop-name
    W3101,  # missing-timeout
    W6001,  # deprecated-typing-alias

    C0103,  # invalid-name
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    C0201,  # consider-iterating-dictionary
    C0206,  # consider-using-dict-items
    C0301,  # line-too-long
    C0415,  # import-outside-toplevel

    R0204,  # redifined-variable-type
    R0801,  # duplicate-code
    R0903,  # too-few-public-methods
    R0902,  # too-many-instance-attributes
    R0911,  # too-many-return-statements
    R0912,  # too-many-branches
    R0913,  # too-many-arguments
    R0914,  # too-many-locals
    R0915,  # too-many-statements
    R0916,  # too-many-boolean-expressions
    R1260,  # too-complex
    R1702,  # too-many-nested-blocks
    R1704,  # redefined-argument-from-local
    R1710,  # inconsistent-return-statements
    R5601,  # confusing-consecutive-elif
    R6103,  # consider-using-assignment-expr

    I0011,  # locally-disabled
    I0020,  # suppressed-message

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once). See also the "--disable" option for examples.
enable=


# ------------------------ CODES ------------------------
;    # --- FATAL ---------
;    F0001, # fatal
;    F0002, # astroid-error
;    F0010, # parse-error
;    F0011, # config-parse-error
;    F0202, # method-check-failed

;    # --- ERROR ---------
;    E0001,  # syntax-error
;    E0011,  # unrecognized-inline-option
;    E0013,  # bad-plugin-value
;    E0014,  # bad-configuration-SECTION
;    E0015,  # unrecognized-option
;    E0100,  # init-is-generator
;    E0101,  # return-in-init
;    E0102,  # function-redefined
;    E0103,  # not-in-loop
;    E0104,  # return-outside-function
;    E0105,  # yield-outside-function,
;    E0106,  # return-arg-in-generator
;    E0107,  # nonexistent-operator
;    E0108,  # duplicate-argument-name
;    E0110,  # abstract-class-instantiated
;    E0111,  # bad-reversed-sequence
;    E0112,  # too-many-star-expressions
;    E0113,  # invalid-star-assignment-target
;    E0114,  # star-needs-assignment-target
;    E0115,  # nonlocal-and-global
;    E0116,  # continue-in-finally
;    E0117,  # nonlocal-without-binding
;    E0118,  # used-prior-global-declaration
;    E0119,  # misplaced-format-function
;    E0202,  # method-hidden
;    E0203,  # access-member-before-definition
;    E0211,  # no-method-argument
;    E0213,  # no-self-argument
;    E0236,  # invalid-slots-object
;    E0237,  # assigning-non-slot
;    E0238,  # invalid-slots
;    E0239,  # inherit-non-class
;    E0240,  # inconsistent-mro
;    E0241,  # duplicate-bases
;    E0242,  # class-variable-slots-conflict
;    E0243,  # invalid-class-object
;    E0244,  # invalid-enum-extension
;    E0301,  # non-iterator-returned
;    E0302,  # unexpected-special-method-signature
;    E0303,  # invalid-length-returned
;    E0304,  # invalid-bool-returned
;    E0305,  # invalid-index-returned
;    E0306,  # invalid-repr-returned
;    E0307,  # invalid-str-returned
;    E0308,  # invalid-bytes-returned
;    E0309,  # invalid-hash-returned
;    E0310,  # invalid-length-hint-returned
;    E0311,  # invalid-format-returned
;    E0312,  # invalid-getnewargs-returned
;    E0313,  # invalid-getnewargs-ex-returned
;    E0401,  # import-error
;    E0402,  # relative-beyond-top-level
;    E0601,  # used-before-assignment
;    E0602,  # undefined-variable
;    E0603,  # undefined-all-variable
;    E0604,  # invalid-all-object
;    E0605,  # invalid-all-format
;    E0611,  # no-name-in-module
;    E0633,  # unpacking-non-sequence
;    E0643,  # potential-index-error
;    E0701,  # bad-except-order
;    E0702,  # raising-bad-type
;    E0704,  # misplaced-bare-raise
;    E0705,  # bad-exception-cause
;    E0710,  # raising-non-exception
;    E0711,  # notimplemented-raised
;    E0712,  # catching-non-exception
;    E1003,  # bad-super-call
;    E1101,  # no-member
;    E1102,  # not-callable
;    E1111,  # assignment-from-no-return
;    E1120,  # no-value-for-parameter
;    E1121,  # too-many-function-args
;    E1123,  # unexpected-keyword-arg
;    E1124,  # redundant-keyword-arg
;    E1125,  # missing-kwoa
;    E1126,  # invalid-sequence-index
;    E1127,  # invalid-slice-index
;    E1128,  # assignment-from-none
;    E1129,  # not-context-manager
;    E1130,  # invalid-unary-operand-type
;    E1131,  # unsupported-binary-operation
;    E1132,  # repeated-keyword
;    E1133,  # not-an-iterable
;    E1134,  # not-a-mapping
;    E1135,  # unsupported-membership-test
;    E1136,  # unsubscriptable-object
;    E1137,  # unsupported-assignment-operation
;    E1138,  # unsupported-delete-operation
;    E1139,  # invalid-metaclass
;    E1141,  # dict-iter-missing-items
;    E1142,  # await-outside-async
;    E1143,  # unhashable-member
;    E1144,  # invalid-slice-step
;    E1200,  # logging-unsupported-format
;    E1201,  # logging-format-truncated
;    E1205,  # logging-too-many-args
;    E1206,  # logging-too-few-args
;    E1300,  # bad-format-character
;    E1301,  # truncated-format-string
;    E1302,  # mixed-format-string
;    E1303,  # format-needs-mapping
;    E1304,  # missing-format-string-key
;    E1305,  # too-many-format-args
;    E1306,  # too-few-format-args
;    E1307,  # bad-string-format-type
;    E1310,  # bad-str-strip-call
;    E1507,  # invalid-envvar-value
;    E1519,  # singledispatch-method
;    E1520,  # singledispatchmethod-function
;    E1700,  # yield-inside-async-function
;    E1701,  # not-async-context-manager
;    E2501,  # invalid-unicode-codec
;    E2502,  # bidirectional-unicode
;    E2510,  # invalid-character-backspace
;    E2511,  # invalid-character-carriage-return
;    E2512,  # invalid-character-sub
;    E2513,  # invalid-character-esc
;    E2514,  # invalid-character-nul
;    E2515,  # invalid-character-zero-width-space
;    E4702,  # modified-iterating-dict
;    E4703,  # modified-iterating-set
;    E6004,  # broken-noreturn
;    E6005,  # broken-collections-callable
;    # --- WARNING -------
;    W0012,  # unknown-option-value
;    W0101,  # unreachable
;    W0102,  # dangerous-default-value
;    W0104,  # pointless-statement
;    W0105,  # pointless-string-statement
;    W0106,  # expression-not-assigned
;    W0107,  # unnecessary-pass
;    W0108,  # unnecessary-lambda
;    W0109,  # duplicate-key
;    W0120,  # useless-else-on-loop
;    W0122,  # exec-used
;    W0123,  # eval-used
;    W0124,  # confusing-with-statement
;    W0125,  # using-constant-test
;    W0126,  # missing-parentheses-for-call-in-test
;    W0127,  # self-assigning-variable
;    W0128,  # redeclared-assigned-name
;    W0129,  # assert-on-string-literal
;    W0130,  # duplicate-value
;    W0131,  # named-expr-without-context
;    W0141,  # bad-builtin
;    W0143,  # comparison-with-callable
;    W0149,  # while-used
;    W0150,  # lost-exception
;    W0160,  # consider-ternary-expression
;    W0177,  # nan-comparison
;    W0199,  # assert-on-tuple
;    W0201,  # attribute-defined-outside-init
;    W0211,  # bad-staticmethod-argument
;    W0212,  # protected-access
;    W0221,  # arguments-differ
;    W0222,  # signature-differs
;    W0223,  # abstract-method
;    W0231,  # super-init-not-called
;    W0233,  # non-parent-init-called
;    W0236,  # invalid-overridden-method
;    W0237,  # arguments-renamed
;    W0238,  # unused-private-member
;    W0239,  # overridden-final-method
;    W0240,  # subclassed-final-class
;    W0244,  # redefined-slots-in-subclass
;    W0245,  # super-without-brackets
;    W0246,  # useless-parent-delegation
;    W0301,  # unnecessary-semicolon
;    W0311,  # bad-indentation
;    W0401,  # wildcard-import
;    W0404,  # reimported
;    W0406,  # import-self
;    W0407,  # preferred-module
;    W0410,  # misplaced-future
;    W0416,  # shadowed-import
;    W0511,  # fixme
;    W0601,  # global-variable-undefined
;    W0602,  # global-variable-not-assigned
;    W0603,  # global-statement
;    W0604,  # global-at-module-level
;    W0611,  # unused-import
;    W0612,  # unused-variable
;    W0613,  # unused-argument
;    W0614,  # unused-wildcard-import
;    W0621,  # redefined-outer-name
;    W0622,  # redefined-builtin
;    W0631,  # undefined-loop-variable
;    W0632,  # unbalanced-tuple-unpacking
;    W0640,  # cell-var-from-loop
;    W0641,  # possibly-unused-variable
;    W0642,  # self-cls-assignment
;    W0644,  # unbalanced-dict-unpacking
;    W0702,  # bare-except
;    W0705,  # duplicate-except
;    W0706,  # try-except-raise
;    W0707,  # raise-missing-from
;    W0711,  # binary-op-exception
;    W0714,  # overlapping-except
;    W0715,  # raising-format-tuple
;    W0716,  # wrong-exception-operation
;    W0717,  # too-many-try-statements
;    W0718,  # broad-exception-caught
;    W0719,  # broad-exception-raised
;    W1113,  # keyword-arg-before-vararg
;    W1114,  # arguments-out-of-order
;    W1115,  # non-str-assignment-to-dunder-name
;    W1116,  # isinstance-second-argument-not-valid-type
;    W1201,  # logging-not-lazy
;    W1202,  # logging-format-interpolation
;    W1203,  # logging-fstring-interpolation
;    W1300,  # bad-format-string-key
;    W1301,  # unused-format-string-key
;    W1302,  # bad-format-string
;    W1303,  # missing-format-argument-key
;    W1304,  # unused-format-string-argument
;    W1305,  # format-combined-specification
;    W1306,  # missing-format-attribute
;    W1307,  # invalid-format-index
;    W1308,  # duplicate-string-formatting-argument
;    W1309,  # f-string-without-interpolation
;    W1310,  # format-string-without-interpolation
;    W1401,  # anomalous-backslash-in-string
;    W1402,  # anomalous-unicode-escape-in-string
;    W1404,  # implicit-str-concat
;    W1405,  # inconsistent-quotes
;    W1406,  # redundant-u-string-prefix
;    W1501,  # bad-open-mode
;    W1502,  # boolean-datetime
;    W1503,  # redundant-unittest-assert
;    W1506,  # bad-thread-instantiation
;    W1507,  # shallow-copy-environ
;    W1508,  # invalid-envvar-default
;    W1509,  # subprocess-popen-preexec-fn
;    W1510,  # subprocess-run-check
;    W1514,  # unspecified-encoding
;    W1515,  # forgotten-debug-statement
;    W1518,  # method-cache-max-size-none
;    W1641,  # eq-without-hash
;    W2101,  # useless-with-lock
;    W2301,  # unnecessary-ellipsis
;    W2402,  # non-ascii-file-name
;    W2601,  # using-f-string-in-unsupported-version
;    W2602,  # using-final-decorator-in-unsupported-version
;    W2901,  # redefined-loop-name
;    W3101,  # missing-timeout
;    W3201,  # bad-dunder-name
;    W3301,  # nested-min-max
;    W4701,  # modified-iterating-list
;    W4901,  # deprecated-module
;    W4902,  # deprecated-method
;    W4903,  # deprecated-argument
;    W4904,  # deprecated-class
;    W4905,  # deprecated-decorator
;    W6001,  # deprecated-typing-alias
;    W9005,  # multiple-constructor-doc
;    W9006,  # missing-raises-doc
;    W9008,  # redundant-returns-doc
;    W9010,  # redundant-yields-doc
;    W9011,  # missing-return-doc
;    W9012,  # missing-return-type-doc
;    W9013,  # missing-yield-doc
;    W9015,  # missing-param-doc
;    W9014,  # missing-yield-type-doc
;    W9016,  # missing-type-doc
;    W9017,  # differing-param-doc
;    W9018,  # differing-type-doc
;    W9019,  # useless-param-doc
;    W9020,  # useless-type-doc
;    W9021,  # missing-any-param-doc

;    # --- CONVENTION ----
;    C0103,  # invalid-name
;    C0104,  # disallowed-name
;    C0105,  # typevar-name-incorrect-variance
;    C0112,  # empty-docstring
;    C0113,  # unneeded-not
;    C0114,  # missing-module-docstring
;    C0115,  # missing-class-docstring
;    C0116,  # missing-function-docstring
;    C0121,  # singleton-comparison
;    C0123,  # unidiomatic-typecheck
;    C0131,  # typevar-double-variance
;    C0132,  # typevar-name-mismatch
;    C0198,  # bad-docstring-quotes
;    C0199,  # docstring-first-line-empty
;    C0200,  # consider-using-enumerate
;    C0201,  # consider-iterating-dictionary
;    C0202,  # bad-classmethod-argument
;    C0203,  # bad-mcs-method-argument
;    C0204,  # bad-mcs-classmethod-argument
;    C0205,  # single-string-used-for-slots
;    C0206,  # consider-using-dict-items
;    C0207,  # use-maxsplit-arg
;    C0208,  # use-sequence-for-iteration
;    C0209,  # consider-using-f-string
;    C0301,  # line-too-long
;    C0302,  # too-many-lines
;    C0303,  # trailing-whitespace
;    C0304,  # missing-final-newline
;    C0305,  # trailing-newlines
;    C0321,  # multiple-statements
;    C0325,  # superfluous-parens
;    C0327,  # mixed-line-endings
;    C0328,  # unexpected-line-ending-format
;    C0401,  # wrong-spelling-in-comment
;    C0402,  # wrong-spelling-in-docstring
;    C0403,  # invalid-characters-in-docstring
;    C0410,  # multiple-imports
;    C0411,  # wrong-import-order
;    C0412,  # ungrouped-imports
;    C0413,  # wrong-import-position
;    C0414,  # useless-import-alias
;    C0415,  # import-outside-toplevel
;    C0501,  # consider-using-any-or-all
;    C1802,  # use-implicit-booleaness-not-len
;    C1803,  # use-implicit-booleaness-not-comparison
;    C1901,  # compare-to-empty-string
;    C2001,  # compare-to-zero
;    C2201,  # misplaced-comparison-constant
;    C2401,  # non-ascii-name
;    C2403,  # non-ascii-module-import
;    C2503,  # bad-file-encoding
;    C2701,  # import-private-name
;    C2801,  # unnecessary-dunder-call
;    C3001,  # unnecessary-lambda-assignment
;    C3002,  # unnecessary-direct-lambda-call
;    C3401,  # dict-init-mutate

;    # --- REFACTOR ------
;    R0022,  # useless-option-value
;    R0123,  # literal-comparison
;    R0124,  # comparison-with-itself
;    R0133,  # comparison-of-constants
;    R0202,  # no-classmethod-decorator
;    R0203,  # no-staticmethod-decorator
;    R0204,  # redefined-variable-type
;    R0205,  # useless-object-inheritance
;    R0206,  # property-with-parameters
;    R0401,  # cyclic-import
;    R0402,  # consider-using-from-import
;    R0801,  # duplicate-code
;    R0901,  # too-many-ancestors
;    R0902,  # too-many-instance-attributes
;    R0903,  # too-few-public-methods
;    R0904,  # too-many-public-methods
;    R0911,  # too-many-return-statements
;    R0912,  # too-many-branches
;    R0913,  # too-many-arguments
;    R0914,  # too-many-locals
;    R0915,  # too-many-statements
;    R0916,  # too-many-boolean-expressions
;    R1260,  # too-complex
;    R1701,  # consider-merging-isinstance
;    R1702,  # too-many-nested-blocks
;    R1703,  # simplifiable-if-statement
;    R1704,  # redefined-argument-from-local
;    R1705,  # no-else-return
;    R1706,  # consider-using-ternary
;    R1707,  # trailing-comma-tuple
;    R1708,  # stop-iteration-return
;    R1709,  # simplify-boolean-expression
;    R1710,  # inconsistent-return-statements
;    R1711,  # useless-return
;    R1712,  # consider-swap-variables
;    R1713,  # consider-using-join
;    R1714,  # consider-using-in
;    R1715,  # consider-using-get
;    R1716,  # chained-comparison
;    R1717,  # consider-using-dict-comprehension
;    R1718,  # consider-using-set-comprehension
;    R1719,  # simplifiable-if-expression
;    R1720,  # no-else-raise
;    R1721,  # unnecessary-comprehension
;    R1722,  # consider-using-sys-exit
;    R1723,  # no-else-break
;    R1724,  # no-else-continue
;    R1725,  # super-with-arguments
;    R1726,  # simplifiable-condition
;    R1727,  # condition-evals-to-constant
;    R1728,  # consider-using-generator
;    R1729,  # use-a-generator
;    R1730,  # consider-using-min-builtin
;    R1731,  # consider-using-max-builtin
;    R1732,  # consider-using-with
;    R1733,  # unnecessary-dict-index-lookup
;    R1734,  # use-list-literal
;    R1735,  # use-dict-literal
;    R1736,  # unnecessary-list-index-lookup
;    R2004,  # magic-value-comparison
;    R2044,  # empty-comment
;    R5501,  # else-if-used
;    R5601,  # confusing-consecutive-elif
;    R6002,  # consider-using-alias
;    R6003,  # consider-alternative-union-syntax
;    R6006,  # redundant-typehint-argument
;    R6101,  # consider-using-namedtuple-or-dataclass
;    R6102,  # consider-using-tuple
;    R6103,  # consider-using-assignment-expr
;    R6104,  # consider-using-augmented-assign
;    R6201,  # use-set-for-membership
;    R6301,  # no-self-use

;    # --- INFORMATION ---
;    I0001,  # raw-checker-failed
;    I0010,  # bad-inline-option
;    I0011,  # locally-disabled
;    I0013,  # file-ignored
;    I0020,  # suppressed-message
;    I0021,  # useless-suppression
;    I0022,  # deprecated-pragma
;    I0023,  # use-symbolic-message-instead
;    I1101,  # c-extension-no-member
