[CouchPotato]
host = localhost
port = 5050
username = 
password = 
ssl = 0
web_root =
apikey = xxxxxxxx
delay = 60
method = renamer
delete_failed = 0

[Comments]
host = (ip address for CouchPotato Server. Use "localhost" if SABnzbd and CPS on same system)
port = (port for CouchPotato Server)
username = (username if set for CouchPotato Server)
password = (password if set for CouchPotato Server)
ssl = 0 (set to 1 if you want to use ssl. -untested. Default is 0)
web_root = (set URL base if needed.)
apikey = (apikey for CouchPotato Server... Required) 
delay = (set delay in seconds before sending api call. Minimum 60)
method = "renamer" or "manage". renamer is the default. Read the help file.
delete_failed = 0 (set to 1 if you want to delete the failed download files/folder)
