[CouchPotato]
category = movie
outputDirectory = /abs/path/to/complete/movies
apikey =
host = localhost
port = 5050
username = 
password =
###### ADVANCED USE - ONLY EDIT IF YOU KNOW WHAT YOU'RE DOING ###### 
ssl = 0
web_root =
delay = 65
method = renamer
delete_failed = 0


[SickBeard]
category = tv
outputDirectory = /abs/path/to/complete/tv
host=localhost
port=8081
username=
password=
###### ADVANCED USE - ONLY EDIT IF YOU KNOW WHAT YOU'RE DOING ######
web_root=
ssl=0
watch_dir=
failed_fork=0

[Torrent]
useLink = 0
extractionTool = C:\Program Files\7-Zip\7z.exe
categories = music,music_videos,pictures,software
###### ADVANCED USE - ONLY EDIT IF YOU KNOW WHAT YOU'RE DOING ######
compressedExtentions = .zip,.rar,.7z,.gz,.bz,.tar,.arj
mediaExtentions = .mkv,.avi,.divx,.xvid,.mov,.wmv,.mp4,.mpg,.mpeg,.vob,.iso
metaExtentions = .nfo,.sub,.srt,.jpg,.gif

# Logging configuration
[loggers]
keys = root

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = NOTSET
handlers = console
qualname =

[handler_console]
class = StreamHandler
args = (sys.stdout,)
level = INFO
formatter = generic

[formatter_generic]
format = %(asctime)s|%(levelname)-7.7s %(message)s
datefmt = %H:%M:%S
