[CouchPotato]
host = localhost
port = 5050
username =
password =
ssl = 0
web_root =
apikey = xxxxxxxx
delay = 60
method = renamer
delete_failed = 0
category = movies
destination = /abs/path/to/complete/movies

[SickBeard]
host=localhost
port=8081
username=
password=
web_root=
ssl=0
watch_dir=
failed_fork=0
category = tv
destination = /abs/path/to/complete/tv

[Torrent]
uselink = 0
extractiontool = 'C:\\Program Files\\7-Zip\\7z.exe'

# Logging configuration
[loggers]
keys = root

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = NOTSET
handlers = console
qualname =

[handler_console]
class = StreamHandler
args = (sys.stdout,)
level = INFO
formatter = generic

[formatter_generic]
format = %(asctime)s|%(levelname)-7.7s %(message)s
datefmt = %H:%M:%S
