babelfish
beets
configobj
deluge-client@git+https://github.com/labrys/deluge.git@master
guessit
jaraco-windows ; sys.platform == 'win32'
linktastic
mediafile
python-qbittorrent
pywin32 ; sys.platform == 'win32'
pyxdg
rencode
requests
requests_oauthlib
setuptools
subliminal != 2.1.0
syno@git+https://github.com/labrys/syno.git@master
transmission-rpc
utorrent@git+https://github.com/labrys/utorrent.git@master
