babelfish
beets
configobj
guessit
linktastic
python-qbittorrent
pyxdg
rencode
requests
requests_oauthlib
setuptools
six
subliminal != 2.1.0
transmissionrpc
deluge-client@git+https://github.com/labrys/deluge.git@master
syno@git+https://github.com/labrys/syno.git@master
utorrent@git+https://github.com/labrys/utorrent.git@master
jaraco-windows ; sys.platform == 'win32'
pywin32 ; sys.platform == 'win32'
