babelfish
beets
configobj
guessit
linktastic
python-qbittorrent
pyxdg
rencode
requests
requests_oauthlib
setuptools
six
subliminal
transmissionrpc
deluge-client@git+https://github.com/labrys/deluge.git@master
syno@git+https://github.com/labrys/syno.git@master
utorrent@git+https://github.com/labrys/utorrent.git@master
